APP_NAME=Lumen
APP_ENV=local
APP_KEY=eyJ0eXai34567AQiLCJhbGciOiJIUzI1NiJ9
APP_DEBUG=true
APP_URL=http://localhost
APP_TIMEZONE=UTC

LOG_CHANNEL=stack
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3307
DB_DATABASE=lumen_api
DB_USERNAME=user
DB_PASSWORD=password

CACHE_DRIVER=file
QUEUE_CONNECTION=sync

JWT_SECRET=BP68GpAayTCPWYgGVIJYAYqK2dVsokL8BeXlZYKwH5AKXSM13Vw1Dhjm0SYPlzmB

FIREBASE_CREDENTIALS=firebase-config.json
FIREBASE_DATABASE_URL=https://lumen-crud-default-rtdb.asia-southeast1.firebasedatabase.app/

SENTRY_LARAVEL_DSN=https://4e84c7c39681496cbbd89a0b60c0c3a9@o1213255.ingest.sentry.io/6352359
SENTRY_TRACES_SAMPLE_RATE=1

SWAGGER_LUME_CONST_HOST=http://localhost:8000/api
SWAGGER_GENERATE_ALWAYS=true

MONGODB_USERNAME=lumen
MONGODB_PASSWORD=lumen-123